<!DOCTYPE html>
<html lang="en">
<head>
     <title>Total Football</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body background="../static/fondo.jpg" style=" background-size:100%;">
<hr>
<!--td>


<!--
Aqui como ves estoy recorriendo el html asi de la misma forma como se recorrienra en el .py
y llamo los valores de la misma forma, siempre si vas a utilizar esta forma necesitas recorrer el json con un for.
-->
<div class="container">
  <h3>Tabs</h3>
  <ul class="nav nav-tabs">
      <li class="active"><a href="#">Home</a></li>

      <li><a href="#">Premier League</a></li>
      <li><a href="#">Liga BBVA</a></li>
      <li><a href="#">Serie A</a></li>
      <li><a href="#">BundesLiga</a></li>
  </ul>
  <br>

{% for x in response %}
  <font color="white">
    <p >{{ x['id'] }}</p>
    <p href="">{{ x['caption'] }}</p>
    <p href="">{{ x['league'] }}</p>
</font>
      {% endfor %}
</div>




</body>
</html>