<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Equipo</th>
        <th>Puntos</th>
        <th>Goles</th>
      </tr>
    </thead>
    <tbody>
    {% for x in response %}
      <tr>
        <td>{{ x['team'] }}</td>
        <td>{{ x['points'] }}</td>
        <td>{{ x['goals'] }}</td>
      </tr>
    {% endfor %}

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>posicion</th>
        <th>Equipo</th>
        <th>partidos</th>
        <th>goles</th>
        <th>Goles en contra</th>
        <th>Diferencia de goles</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      {% for x in response['standing'] %}
        <td>{{ x['rank'] }}</td>
         <td>{{ x['team'] }}</td>
        <td>{{ x['playedGames'] }}</td>
        <td>{{ x['goals'] }}</td>
        <td>{{ x['goalsAgainst'] }}</td>
        <td>{{ x['goalDifference'] }}</td>
      {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
